@use '../../variables'as *;
@use '../../extends'as *;

.store {
    // background-image: url('../../Assets/Images/slider-bg-vert.png');
    // background-repeat: no-repeat;
    padding-top: 10rem;
    position: relative;

    &__item {
        padding: 1.5rem;
        z-index: 2;

        .card {
            height: 22rem;
            width: 70%;
            border-radius: .15rem;
            text-align: left;
            // box-shadow: 0px 0px 15px 1px $c-secondary;
            transition: all .2s ease-in;

            &:hover {

                box-shadow: 0px 0px 20px 3px $c-secondary;
            }

            &__img {
                display: flex;
                position: relative;
                height: 50%;

                &:hover {

                    .btn {
                        opacity: 1;
                    }
                }

                img {
                    display: block;
                    border-radius: .15rem .15rem 0 0;
                    transition: .1s ease-in;

                }

                .btn {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: #262626AA;
                    border: none;
                    outline: none;
                    transition: .1s ease-in;
                }


            }

            &-title {
                display: flex;
                align-items: flex-start;
                padding: 0;
                width: 80%;
                height: 50%;
            }

            &-text {
                padding: 0;
                margin: 0;

                &--price {
                    width: 50%;
                    padding: .25rem .5rem;
                    margin: .25rem 0;
                    color: $c-background-secondary;
                    text-align: center;
                    background-color: $c-background;
                    border-radius: .15rem;
                }

                &--cap {
                    margin-top: 0;

                    i {
                        font-size: .85rem;
                    }
                }
            }

            &-body {

                .btn {
                    position: absolute;
                    top: 35%;
                    right: 0;
                    // bottom: 0%;
                    transform: translate(50%, 50%);
                    // width: 10px;
                    // height: 10px;
                    transition: .1s ease-in;
                    // opacity: 0;
                    font-weight: bold;
                    background-color: transparent;
                    border: transparent;
                    border-radius: .75rem;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 2rem;
                        height: 2rem;
                        background-color: $c-background-secondary;
                        z-index: -1;
                    }

                }
            }
        }
    }

    &__icon {
        z-index: 1;
        @extend %bgIcon;
    }

    &--header-text {
        font-size: 1.5rem;
    }
}