@use '../../variables'as *;
@use '../../extends'as*;

.navbar {
    // display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    // justify-content: space-between;
    height: 100px;
    background-color: $c-background;
    color: #081C15;
    box-sizing: border-box;

    &__brand {
        // background-color: #fff;
        // @extend %flexCentered;
        @extend %flexCentered;
        width: 200px;
        height: 200px;
        background-color: white;

        border: 3px solid black;

        img {
            margin-top: 25%;
            width: 100%;

        }
    }

    .cart {
        @extend %flexCentered;
    }

    &__icon {
        @extend %flexCentered;
        width: 65px;
        padding: 1rem;
        margin: 0 1.5rem;
        border: .1rem solid $c-primary;
        border-radius: .5rem;

    }
}

.hero-container {
    height: 100vh;

    &__text {
        font-family: 'Patrick Hand', cursive;
    }
}


.test {
    border: 3px solid black;
}