@use '../../variables'as *;
@use '../../extends'as*;

.navbar {
    // display: flex;
    // flex-flow: row nowrap;
    // align-items: center;
    // justify-content: space-between;
    height: 115px;
    background-color: $c-background-nav;
    box-sizing: border-box;

    &__contact {
        flex-flow: column;
        width: min(50vw, 1000px);

        &--row {
            display: flex;
            flex-flow: column nowrap;
        }

        span {
            padding-left: 1rem;
            padding-right: .5rem;
        }

        &--icon {
            padding-right: .5rem;

            // &--toggle {
            //     position: relative;
            //     padding: 1rem;
            //     padding-bottom: 5rem;
            //     margin-top: 4rem;
            //     background-color: $c-background-cart;
            //     border: none;
            //     box-shadow: 0px 0px 5px 0px $c-third;

            //     // border-radius: .5rem;
            //     &::after {
            //         content: '';
            //         position: absolute;
            //         top: 45%;
            //         left: 0;
            //         background-color: $c-background-cart;
            //         height: 15px;
            //         width: 50px;
            //         z-index: 1;
            //     }
            // }
        }

        &--sm {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: center;
            position: absolute;
            top: 90px;
            right: 5px;
            width: 60%;
            min-height: 15vh;
            background-color: $c-background-cart;
            box-shadow: 0px 0px 5px 0px $c-third;
            // padding: 3rem;
        }

        &--visible {
            display: flex;
            flex-flow: column;
            width: 100%;
        }
    }

    &__brand {
        // background-color: #fff;
        // @extend %flexCentered;
        // @extend %flexCentered;
        width: 200px;
        height: 200px;
        background-color: white;
        background-image: url('../../Assets/Images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $c-primary;
        border-radius: 2px;
        box-shadow: 1px 1px 6px $c-primary;

        img {
            margin-top: 25%;
            width: 100%;

        }
    }

    .cart {
        @extend %flexCentered;

        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }

    &__icon {
        @extend %flexCentered;
        width: 50px;
        padding: 1rem;
        margin: 0 1.5rem;
        border: none;
        background-color: transparent;
        font-size: min(3vw, 100%);

        @media screen and (max-width: 576px) {
            width: 35px;
            padding: .75rem;
            margin: 0 .5rem;
        }
    }
}

.hero-container {
    height: 100vh;

}


.test {
    border: 3px solid black;
}