@use '../../variables'as*;

.gallery {
    height: 85vh;
    overflow: hidden;

    &__slider {
        position: relative;
        height: 70%;
        // background-image: url('../../Assets/Images/natural-product.png');
        // background-repeat: no-repeat;
        // background-size: 300px;
        // background-position: bottom -25% left;
        background-color: $c-background-secondary;
        color: $c-third;

        .carousel-inner {
            height: 100%;
        }

        &--item {
            padding: 0 10rem;
        }

        img {
            top: 50%;
            left: 0;
            position: absolute;
            width: 15rem;
            height: 15rem;
        }
    }

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        // width: 200vw;
    }

    &__images {
        display: flex;
        flex-flow: row nowrap;
        // width: 100%;
        height: 30%;
        overflow: hidden;
        position: absolute;
        left: 0px;

        img {
            height: 100%;
        }

    }

    &__item {
        position: relative;
        cursor: pointer;
        height: 100%;
        width: 300px;

        &--icon {
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .2s ease-in-out;

        }



        &:hover {
            opacity: .8;

            span {
                opacity: 1;
            }
        }
    }
}

.img-modal {
    .modal-content {
        background-color: transparent;
        border-style: none;
    }

    .modal-header {
        border-style: none;
    }
}