@use '../../variables'as*;
@use '../../extends'as*;

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: $c-text;
    color: $c-background-secondary;

    &__contact {
        display: flex;
        flex-flow: row;

        img {
            width: 250px;
            height: 150px;
        }

        ul {
            list-style: none;
        }
    }

    &__social {
        svg {
            padding: .75rem;
        }
    }

}