%flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

%bgIcon {
    position: absolute;
    width: min(25%, 120px);
    z-index: -1;

    img {
        width: 100%;
    }
}