//fonts
$f-primary: 'Raleway',
sans-serif;

//colors
$c-primary: #064420;
$c-secondary: #62D2A2;
$c-third: #064420;
$c-text: #262626;
$c-text-secondary: #FEFAE0;
$c-background: #10BC58;
$c-background-secondary: #FDFAF6;
$c-background-nav: #FDFAF6;