body {
  margin: 0;
  /* font-family: 'Time'; */
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.col-test {
  border: 3px solid black;
}